.bx_ordercart_order_table_container {
  width: 100%; }
  .bx_ordercart_order_table_container table {
    width: 100%; }
    .bx_ordercart_order_table_container table tr td {
      border-bottom: 2px #E2E2E2 solid;
      padding: 15px 0px; }
      .bx_ordercart_order_table_container table tr td.photo {
        width: 90px; }
        .bx_ordercart_order_table_container table tr td.photo .image_item {
          width: 90px;
          height: 90px; }
      .bx_ordercart_order_table_container table tr td.title {
        width: 450px; }
        .bx_ordercart_order_table_container table tr td.title a {
          color: #555555; }
          .bx_ordercart_order_table_container table tr td.title a:hover {
            text-decoration: underline; }
          .bx_ordercart_order_table_container table tr td.title a h5 {
            font-size: 14px;
            padding: 0px 10px 0px 15px; }
      .bx_ordercart_order_table_container table tr td.price {
        width: 90px;
        color: #555555; }
      .bx_ordercart_order_table_container table tr td.quant {
        width: 110px; }
        .bx_ordercart_order_table_container table tr td.quant a {
          float: left;
          display: block;
          width: 30px;
          height: 30px;
          border: 1px #FF7737 solid;
          text-align: center;
          font-size: 14px;
          line-height: 30px;
          border-radius: 2px;
          background: #FF7737;
          color: #ffffff;
          transition: all .25s ease-out;
          -webkit-transition: all .25s ease-out;
          -moz-transition: all .25s ease-out;
          -o-transition: all .25s ease-out;
          -ms-transition: all .25s ease-out; }
          .bx_ordercart_order_table_container table tr td.quant a:hover {
            background: #FBB045; }
        .bx_ordercart_order_table_container table tr td.quant input {
          float: left;
          width: 30px;
          height: 30px;
          color: #555555;
          border: 1px #E2E2E2 solid;
          text-align: center;
          font-size: 12px;
          border-left: none;
          border-right: none; }
      .bx_ordercart_order_table_container table tr td.summ {
        display: none; }
      .bx_ordercart_order_table_container table tr td.summ_4 {
        display: table-cell;
        color: #888888;
        text-align: center; }
      .bx_ordercart_order_table_container table tr td.control {
        width: 60px; }
        .bx_ordercart_order_table_container table tr td.control a {
          display: block; }
          .bx_ordercart_order_table_container table tr td.control a:hover {
            text-decoration: underline; }

.bx_ordercart_order_pay {
  display: table;
  padding: 20px 0px;
  width: 100%; }
  .bx_ordercart_order_pay .bx_ordercart_order_pay_left {
    display: table-cell;
    width: 50%; }
    .bx_ordercart_order_pay .bx_ordercart_order_pay_left span {
      display: block;
      color: #777777;
      padding-bottom: 5px;
      clear: both; }
    .bx_ordercart_order_pay .bx_ordercart_order_pay_left input {
      width: 250px;
      height: 35px;
      border: 1px #E2E2E2 solid;
      border-radius: 2px;
      float: left; }
    .bx_ordercart_order_pay .bx_ordercart_order_pay_left a {
      display: block;
      float: left;
      margin-left: 2px;
      border-radius: 2px;
      background: #FF7737;
      color: #ffffff;
      height: 35px;
      width: 40px;
      text-align: center;
      line-height: 35px;
      transition: all .25s ease-out;
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out; }
      .bx_ordercart_order_pay .bx_ordercart_order_pay_left a:hover {
        background: #FBB045; }
  .bx_ordercart_order_pay .bx_ordercart_order_pay_right {
    display: table-cell;
    width: 50%;
    text-align: right; }
    .bx_ordercart_order_pay .bx_ordercart_order_pay_right table {
      width: 100%; }
      .bx_ordercart_order_pay .bx_ordercart_order_pay_right table td {
        display: block;
        width: 100%;
        text-align: right; }

.bx_ordercart_order_pay_center {
  display: block;
  width: 100%; }
  .bx_ordercart_order_pay_center a {
    display: block;
    float: right;
    margin-left: 5px;
    border-radius: 2px;
    background: #1585C5;
    color: #ffffff;
    height: 35px;
    width: 260px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out; }
    .bx_ordercart_order_pay_center a:hover {
      background: #1f8fcf;
      text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
