@charset "UTF-8";
@import "../../../../../../../sass.scss";

.newslist {
  .newitem {
    a {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px $gray2 dotted;
      color: $black;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        h3 {
          text-decoration: underline;
        }
      }
      img {
        float: left;
        margin: 0px 15px 0px 0 xp;
        max-width: 100%;
      }
      h3 {
        font-size: 18px;
        margin: 0;
        padding: 0;
      }
      span {
        display: block;
        color: $black2;
        font-size: 14px;
        padding: 10px 0px;
      }
      p {
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
    }
  }
}