
container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
button {
    margin: 10px;
}
.product_container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.product {
    width: 35vh;
    height: 14vw;
    border: 1px solid #111111;
    margin: 20px;
}
.product_check {
    margin: 10px 10px
}
.product_atributs {
    margin: auto auto 50% 40%;
}
.form_add {
    width: 80%;
    margin: auto;
}
.aritle_name {

}