@charset "UTF-8";
@import "../../../../sass.scss";

ul.footer_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      display: block;
      color: $black2;
      padding: 3px 0px;
      text-decoration: underline;
      font-size: 13px;
      &:hover {
        color: $blue;
      }
    }
  }
}